* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.rooms_bar {
  flex-basis: 20%;
  background-color: antiquewhite;
  z-index: 1;
  box-shadow: 5px 0px 15px 5px rgba(0, 0, 0, 0.3);
}

.checker_board {
  flex-basis: 80%;
  background-color: cadetblue;
}

.create_room_btn {
  display: block;
  color: antiquewhite;
  background-color: black;
  padding: 12px 18px;
  border-radius: 10px;
  margin: 20px auto;
  cursor: pointer;
}

.room {
  background-color: rgb(177 125 125);
  border: 1px solid black;
}

.room_btn {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 20px 0px 20px 20px;
  text-align: left;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}
